<li class="meetup-item">
	<article>
		<div class="meetup-summary">
			<div class="meetup-image">
				<img src="" alt="">
			</div>
			<div class="meetup-details">
				<h3> {{ title }}</h3>
				<address>{{ location }}</address>
			</div>	
		</div>
		<div class="meetup-actions">
			<!-- Here I use the spetial url tag  you don't need to load it as static-->
			<!-- Url allow you tell django to generate the absolure URL to a specetif Url -->
			<!-- defined in the url.py file -->
			<a href="{% url 'meetup-detail' slug %}" class="btn">More Details</a>
		</div>
	</article>
</li>