<!-- this spetial load static method is to use the django language template} -->
<!-- Those HTML file will be parsed by django before they are  -->
<!-- returned as pure HTML file to the browser -->
<!-- That's renders job to do so when you call render() with the html file -->
{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %} All meetups {% endblock%}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock%}

{% block main_heading%}
We got great meetups coming up!
{% endblock %}

{% block header_content %}
<p>Find the one that best suits your needs!</p>
{% endblock %}

{% block body %}
		<section>
			<h2>Upcoming Mettups</h2>
			<ol>
				{% for meetup_item in meetups %}
					{% include 'meetups/includes/meetup-item.html' with title=meetup_item.title location='hard coded location' slug=meetup_item.slug %}
				{% endfor%}
			</ol>
		</section>
{% endblock%}


