<!-- this spetial load static method is to use the django language template} -->
<!-- Those HTML file will be parsed by django before they are  -->
<!-- returned as pure HTML file to the browser -->
<!-- That's renders job to do so when you call render() with the html file -->
{% extends 'meetups/base/base.html' %}
{% load static %}
{% block title %} All meetups {% endblock%}
{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock%}

{% block main_heading%}
We got great meetups coming up!
{% endblock %}
{% block header_content %}
<p>Find the one that best suits your needs!</p>
{% endblock %}
{% block body %}
		<section>
			<h2>Upcoming Mettups</h2>
			<ol>
				{% for meetup_item in meetups %}
				<li class="meetup-item">
					<article>
						<div class="meetup-summary">
							<div class="meetup-image">
								<img src="" alt="">
							</div>
							<div class="meetup-details">
								<h3> {{ meetup_item.title }}</h3>
								<address>{{ meetup_item.location }}</address>
							</div>	
						</div>
						<div class="meetup-actions">
							<!-- Here I use the spetial url tag  you don't need to load it as static-->
							<!-- Url allow you tell django to generate the absolure URL to a specetif Url -->
							<!-- defined in the url.py file -->
							<a href="{% url 'meetup-detail' meetup_item.slug %}" class="btn">More Details</a>
						</div>
					</article>
				</li>
				{% endfor%}
			</ol>
		</section>
{% endblock%}


